@import url(https://fonts.google.com/specimen/Poppins);

/* Resets */
:root {
  --font-family: 'Poppins', sans-serif;
  --pink: hsl(322, 100%, 66%);
  --pale-cyan:  hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
}

body, footer {
  font-family: var(--font-family);
  line-height: 1.4;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilites */

h1, h2 ,h3 {
  margin: .5rem;
}

p {
  margin: .5rem 0;
}

.btn {
  padding: .5rem 2.3rem;
  background-color: #fff;
  border-radius: 50px;
  font-size: .75rem;
  font-weight: bold;
  border: none;
  box-shadow: .1rem .1rem .25rem  rgba(150, 148, 148, 0.25);
  cursor: pointer;
}

.btn-pink {
  background: var(--pink);
  color: #fff;
}

.align-center {
  text-align: center;
}

.lead-head {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
}

p {
  font-weight: 300;
  font-size: 18px;
}

/* Padding x axis */
.px-10 { padding: 0 10px;}
.px-20 { padding: 0 20px;}
.px-30 { padding: 0 30px;}

/* Margin Y axix */
.my-10 { margin: 10px 0;}
.my-20 { margin: 20px 0;}
.my-30 { margin: 30px 0;}


/* Main Content */

header {
  min-height: 500px;
  background: var(--pale-cyan) url(../img/bg-hero-mobile.svg) no-repeat center center/cover;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

#navbar .logo {
  width: 9rem;
  height: 1.5rem;
}

/* Showcase Info */
#showcase {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 2rem;
}

#showcase .showcase-img .img-container {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#showcase #showcase-info button {
  width: 60%;
}

#showcase .showcase-img .img-container img {
  padding: 30px;
  width: 100%;
  height: 100%;
}

/* Card Section */
#card-section {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem;
  min-height: 0px;
  margin-bottom: 1rem;
}


#card-section .card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding: 1.25rem;
  box-shadow: .1rem .1rem .9rem .2rem  rgba(150, 148, 148, 0.25);
}

#card-section .card img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 15rem;
}

#card-section .card h3 {
  font-weight: 600;
}

#card-section .card p {
  font-weight: 300;
  opacity: .6;
}

.card:nth-child(4) {
  position: relative;
  top: 150px;
  background: #fff;
}

.card:nth-child(4) .btn {
  margin: 0 auto 1rem auto;
}

/* Contact   */
#contact {
  min-height: 100vh;
  color: #fff;
  padding: 7rem 3rem 3rem 3rem;
  background: var(--dark-cyan);
}


#contact .links {
  margin-top: 5rem;
}

#contact .links .nav li {
  margin: 1rem 0;
  list-style: none;
}

#contact .links .nav li a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

/* Social Media Links */

.icons ul {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.icons ul li {
  list-style: none;
  margin: 0 1rem;
}

.icons ul li i {
  color: #fff;
  border-radius: 70px;
  border: solid .1rem #fff;
  padding: .5rem .6rem;
}

/* Footer */
.attribution {
  margin: 0;
  background: var(--pink);
  color: #fff;
}

.attribution a {
  color: #fff;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--dark-cyan);
}